@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color: #334252;
    height: 80px;
    width: 100%;
    position: sticky;
}

h1 {
    color: antiquewhite;
    position: absolute;
    left: 25px;
    top: 0;
    line-height: 80px;
}

header ul {
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}

header li {
    display: inline;
    margin-right: 4vw;
}

header a {
    color: antiquewhite;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

footer {
    background-color: #334252;
    color: antiquewhite;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.view{
    background-color: #778899;
    width: 100%; /* 父容器滿版 */
    padding: 15px;
    /* display: flex;  */
/*     justify-content: flex-end; */
    align-items:center;
	min-height: 100vh; /* 設置最小高度為 100vh，讓背景色自動填滿螢幕 */
	justify-content: space-between; /* 讓子元素均勻分佈，確保 footer 在底部 */

} 

.return-button img {
    top: 210px;
    left: 80px;
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 50%;
    transition: transform 0.3s;
    cursor: pointer;
    position: sticky;
}

.return-button img:hover {
    transform: scale(1.1);
}

/* 表單外框樣式 */
.form-container {
    width: 80%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    background-color: #D9CBCB;
    overflow: hidden;
}

/* 表單欄位標籤樣式 */
.form-container label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #555;
}

/* 表單欄位樣式 */
.form-container input,
.form-container select,
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

/* 表單欄位焦點效果 */
input:focus,
select:focus,
textarea:focus {
    outline: none;
    border: 1px solid transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px); /* 輕微上移以呈現浮起感 */
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

/* 按鈕樣式 */
.form-container button {
    width: 25%;
    padding: 10px;
    background-color: #334252;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
}

/* 按鈕懸停樣式 */
.form-container button:hover {
    background-color: #DDD1D1;
}
