<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>管理員新增 - addAdmin.html</title>
<link rel="stylesheet" th:href="@{/css/admin/addAdmin.css}" />
</head>

<body>
	<!--*************** table#header (上方深色) 區域 **************-->
	<table id="header">
		<tr>
			<td><img th:src="@{/images/admin/pflogow.png}"> <font>管理員資料新增</font>
				<img th:src="@{/images/admin/pflogow.png}">
			<td>
		<tr>
	</table>

	<div id="role">
		<span th:if="${admin == null}" th:text="未知身分">
	</div>
	<div id="role">
		<span th:if="${admin != null}" th:switch="${admin.adminRole}">
			<span th:case="1">超級管理</span> <span th:case="2">後台管理</span> <span
			th:case="3">商城管理</span> <span th:case="*">未知身分</span> <!-- Fallback if the role is not recognized -->
		</span>
	</div>
	<div id="log" th:if="${admin == null}">
		<a href="#" th:href="@{/back_end/toAdminLogin}" class="btn btn-danger">登入</a>
	</div>

	<div id="log" th:if="${admin != null}">
		<a href="#" th:href="@{/back_end/logout}" class="btn btn-danger">登出</a>
	</div>

	<div id="name">
		<span th:if="${admin != null}" th:text="${admin.adminName}"></span> <span
			th:if="${admin == null}" th:text="造訪者"></span>
	</div>

	<div id="headshot">
		<img id="headshot" th:if="${admin != null}"
			th:src="@{/admin/DBGifReader} + '?adminId=' + ${admin.adminId}"
			width="150px" alt="管理員照片">
		<!-- 如果 admin 为 null，显示默认的提示信息 -->
		<img id="headshot" th:if="${admin == null}"
			th:src="@{/images/admin/unknown.jpg}" width="150px" alt="管理員照片" />
	</div>
	
	<!--**************** div#body (中間淺色) 區域 *****************-->
	<div id="body">
	
		<article id="BGcat">
	  	<img id="BGcat" th:src="@{/images/admin/BGcat.png}"/>
	  </article>
	  
			<article id="body">
			
			<h2><span>管理員檢索</span></h2>
		<hr>
			<h4>
				<b>所有欄位皆為必填欄位</b>
			</h4>

			<form th:action="@{insert}" method="post" th:object="${adminVO}"
				enctype="multipart/form-data">

				<div>
					<label>管理員姓名:</label> <input type="text" th:field="*{adminName}"
						placeholder="請輸入姓名" onclick="hideContent('adminName.errors');" /><br />
					<span th:if="${#fields.hasErrors('adminName')}"
						th:errors="*{adminName}" class="error" id="adminName.errors"></span>
				</div>

				<div>
					    <label>管理員身分:</label>
					    <select th:field="*{adminRole}">
					        <option value="2" th:selected="${adminVO.adminRole == 2}">後台管理</option>
					        <option value="3" th:selected="${adminVO.adminRole == 3}">商城管理</option>
					    </select>
					    <span th:if="${#fields.hasErrors('adminRole')}" th:errors="*{adminRole}" class="error" id="adminRole.errors"></span>
				</div>

				<div>
				    <input type="hidden" th:field="*{adminAccStatus}" value="1" />
				</div>

				<div>
					<label>管理員帳號:</label> <input type="text" th:field="*{adminAcc}"
						placeholder="請輸入2~12位帳號" onclick="hideContent('adminAcc.errors');" /><br />
					<span th:if="${#fields.hasErrors('adminAcc')}"
						th:errors="*{adminAcc}" class="error" id="adminAcc.errors"></span>
				</div>

				<div>
					<label>管理員密碼:</label> <input type="text" th:field="*{adminPwd}"
						placeholder="請輸入8~12位密碼" onclick="hideContent('adminP.errors');" /><br />
					<span th:if="${#fields.hasErrors('adminPwd')}"
						th:errors="*{adminPwd}" class="error" id="adminPwd.errors"></span>
				</div>

				<div>
					<label>管理員照片:</label> <input type="file" th:field="*{upFiles}"
						onclick="previewImage()" multiple="multiple"
						onchange="hideContent('upFiles.errors');" />
					<!--     <span  th:if="${#fields.hasErrors('upFiles')}" th:errors="*{upFiles}" class="error" id="upFiles.errors"></span> -->
					<br /> <span class="error" th:utext="${errorMessage}"
						id="upFiles.errors">${errorMessage}</span>
					<!--     <h2 id="errorMessage">${errorMessage}</h2>  -->
					<div id="blob_holder"></div>
				</div>

				<div>
					<div></div>
					<div>
						<button type="submit" id="submit">送出新增</button>
					</div>
				</div>
			</form>
			<button type="submit" onclick="window.location.href='/admin/select_admin_page'">回管理頁</button>
		</article>
					 <article id="BGdog">
					  	<img id="BGdog" th:src="@{/images/admin/BGdog.png}"/>
					  </article>
	</div>

	<!--***************** footer (下方深色) 區域 *****************-->
	<footer>
		<p>Copyright © 2024 ServPET 寵寵唯蹟 All Rights Reserved.</p>
	</footer>

	<!--***************** JS程式碼區段 *****************-->
	<script type="text/javascript">
		// 清除提示信息
		function hideContent(d) {
			var element = document.getElementById(d);
			if (element) {
				element.style.display = "none";
			}
		}

		// 照片上傳-預覽用
		var filereader_support = typeof FileReader != 'undefined';
		if (!filereader_support) {
			alert("No FileReader support");
		}

		acceptedTypes = {
			'image/png' : true,
			'image/jpeg' : true,
			'image/gif' : true
		};

		function previewImage() {
			var upfile1 = document.getElementById("upFiles");
			upfile1.addEventListener("change", function(event) {
				var files = event.target.files || event.dataTransfer.files;
				for (var i = 0; i < files.length; i++) {
					previewfile(files[i]);
				}
			}, false);
		}

		function previewfile(file) {
			if (filereader_support === true
					&& acceptedTypes[file.type] === true) {
				var reader = new FileReader();
				reader.onload = function(event) {
					var image = new Image();
					image.src = event.target.result;
					image.width = 100;
					image.height = 75;
					image.border = 2;
					if (blob_holder.hasChildNodes()) {
						blob_holder.removeChild(blob_holder.childNodes[0]);
					}
					blob_holder.appendChild(image);
				};
				reader.readAsDataURL(file);
				document.getElementById('submit').disabled = false;
			} else {
				blob_holder.innerHTML = "<div style='text-align: left;'>"
						+ "● filename: "
						+ file.name
						+ "<br>"
						+ "● ContentType: "
						+ file.type
						+ "<br>"
						+ "● size: "
						+ file.size
						+ "bytes"
						+ "<br>"
						+ "● 上傳ContentType限制: <b><font color=red>image/png、image/jpeg、image/gif</font></b></div>";
				document.getElementById('submit').disabled = true;
			}
		}
	</script>

</body>
</html>
