<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>管理員資料 - listOneAdmin.html</title>
<link rel="stylesheet" th:href="@{/css/admin/listOneAdmin.css}"/>
</head>
<body>

	<!--*************** table#header (上方深色) 區域 **************-->
	<table id="header">
	  <tr>
	    <td>
	      <img th:src="@{/images/admin/pflogow.png}">
	      <font>管理員資料</font>
	      <img th:src="@{/images/admin/pflogow.png}">
	    </td>
	  </tr>
	</table>
	
	 <div id="role">
			   			<span th:if="${admin == null}"  th:text="未知身分">
			   </div>
			    	<div id="role">
			    	 		 <span th:if="${admin != null}"  th:switch="${admin.adminRole}">
						        <span th:case="1">超級管理</span>
						        <span th:case="2">後台管理</span>
						        <span th:case="3">商城管理</span>
						        <span th:case="*">未知身分</span> <!-- Fallback if the role is not recognized -->
						    </span>
			    	</div>
			    	<div id="log" th:if="${admin == null}">
					    <a href="#" th:href="@{/back_end/toAdminLogin}" class="btn btn-danger">登入</a>
					</div>
					
					<div id="log" th:if="${admin != null}">
					    <a href="#" th:href="@{/back_end/logout}" class="btn btn-danger">登出</a>
					</div>
			    	
				<div id="name">
				<span th:if="${admin != null}" th:text="${admin.adminName}"></span>   
				<span th:if="${admin == null}" th:text="造訪者"></span>   
				</div>
				            
				<div id="headshot">
		        	 <img id="headshot" th:if="${admin != null}"  th:src="@{/admin/DBGifReader} + '?adminId=' + ${admin.adminId}" width="150px" alt="管理員照片"> 
					<!-- 如果 admin 为 null，显示默认的提示信息 -->
					 <img  id="headshot" th:if="${admin == null}" th:src="@{/images/admin/unknown.jpg}" width="150px" alt="管理員照片"/>
			 </div>	       
			 
	<!--**************** div#body (中間淺色) 區域 *****************-->
			<div id="body" th:fragment="listOneAdmin-div"> <!-- 此div被select_page.html第158行insert用 -->
			
			<article id="BGcat">
	  			<img id="BGcat" th:src="@{/images/admin/BGcat.png}"/>
	    	</article>
			
			
			  <article id="body">
			  	<h2><span>查詢結果</span></h2>
	    		 <table id="body">
				     <!-- 表格表頭 -->
				     <thead>
				     <tr>
				        <th>編號</th>
				        <th>姓名</th>
				        <th>照片</th>
				        <th>身分</th>
				        <th>狀態</th>
				        <th>帳號</th>
				        <th>密碼</th>
				     </tr>
				     </thead>
				     <!-- 表格資料 -->
				     <tbody>
				     <tr>
				        <td th:text="${adminVO.adminId}"></td>
				        <td th:text="${adminVO.adminName}"></td>
				        <td><img id="pic" th:src="@{/admin/DBGifReader} + '?adminId=' + ${adminVO.adminId}" width="150px" alt="管理員照片"></td>
				        <td>
						    <span th:switch="${adminVO.adminRole}">
						        <span th:case="1">超級管理</span>
						        <span th:case="2">後台管理</span>
						        <span th:case="3">商城管理</span>
						        <span th:case="4">美容師</span>
						        <span th:case="5">保母</span>
						        <span th:case="*">未知角色</span> <!-- Fallback if the role is not recognized -->
						    </span>
						</td>
				        <td th:text="${adminVO.adminAccStatus == '1' ? '啟用' : '停用'}"></td>
				        <td th:text="${adminVO.adminAcc}"></td>
				        <td th:text="${adminVO.adminPwd}"></td>
				     </tr>
				     </tbody>
			    </table>
			    	<form action="#" th:action="@{/admin/select_admin_page}" method="get">
				<button type="submit" class="btn btn-primary">回管理頁</button>
				</form>
			</article>
			
			<article id="BGdog">
		<img id="BGdog" th:src="@{/images/admin/BGdog.png}"/>
	</article>
	
		  </div>
	  
	<!--***************** footer (下方深色) 區域 *****************-->
	<footer>
	  <p>Copyright © 2024 ServPET 寵寵唯蹟 All Rights Reserved.</p>
	</footer>

</body>
</html>
