<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>管理員檢索管理 - select_admin_page.html</title>
<link rel="stylesheet" th:href="@{/css/admin/select_admin_page.css}"/>
</head>

<body>

  <!--*************** table#header (上方深色) 區域 **************-->
    <table id="header">
      <tr>
        <td>
          <img th:src="@{/images/admin/pflogow.png}"/>
          <font>管理員檢索管理</font>
          <img th:src="@{/images/admin/pflogow.png}"/>
        </td>
      </tr>
    </table>
    
       <div id="role">
			   			<span th:if="${admin == null}"  th:text="未知身分">
			   </div>
			    	<div id="role">
			    	 		 <span th:if="${admin != null}"  th:switch="${admin.adminRole}">
						        <span th:case="1">超級管理</span>
						        <span th:case="2">後台管理</span>
						        <span th:case="3">商城管理</span>
						        <span th:case="*">未知身分</span> <!-- Fallback if the role is not recognized -->
						    </span>
			    	</div>
			    	<div id="log" th:if="${admin == null}">
					    <a href="#" th:href="@{/back_end/toAdminLogin}" class="btn btn-danger">登入</a>
					</div>
					
					<div id="log" th:if="${admin != null}">
					    <a href="#" th:href="@{/back_end/logout}" class="btn btn-danger">登出</a>
					</div>
			    	
				<div id="name">
				<span th:if="${admin != null}" th:text="${admin.adminName}"></span>   
				<span th:if="${admin == null}" th:text="造訪者"></span>   
				</div>
				            
				<div id="headshot">
		        	 <img id="headshot" th:if="${admin != null}"  th:src="@{/admin/DBGifReader} + '?adminId=' + ${admin.adminId}" width="150px" alt="管理員照片"> 
					<!-- 如果 admin 为 null，显示默认的提示信息 -->
					 <img  id="headshot" th:if="${admin == null}" th:src="@{/images/admin/unknown.jpg}" width="150px" alt="管理員照片"/>
			 </div>	       
    
	<!--**************** div#body (中間淺色) 區域 *****************-->
	<div id="body">
	
	<article id="BGcat">
	  	<img id="BGcat" th:src="@{/images/admin/BGcat.png}"/>
	  </article>
	
		<article id="body">
		<h2><span>管理員檢索</span></h2>
		<hr>
		<div id="error" th:if="${errorMessage != null}">
				<p class="error" th:text="${errorMessage}"></p>
		</div>
		<font>單一條件檢索:</font><br>
		<table id="body">
			<form method="post" th:action="@{getOne_For_Display}">
				輸入管理員編號:
				<input type="text" name="adminId" th:value="${param.adminId}"  placeholder="請輸入管理員編號"> 
				<input type="submit" value="送出">
			</form><br>
			
			<!-- 使用管理員編號進行查詢 -->
				<form method="post" th:action="@{getOne_For_Display}">
				    <label>選擇管理員編號: </label>
				    <select name="adminId">
				        <option th:each="adminVO : ${adminListData}" 
				                th:value="${adminVO.adminId}" 
				                th:text="${adminVO.adminId}" />
				    </select>
				    <input type="submit" value="送出">
				</form><br>
				
				<!-- 使用管理員姓名進行查詢 -->
				<form method="post" th:action="@{getOne_For_Display}">
				    <label>選擇管理員姓名: </label>
				    <select name="adminId">
				        <option th:each="adminVO : ${adminListData}" 
				                th:value="${adminVO.adminId}" 
				                th:text="${adminVO.adminName}" />
				    </select>
				    <input type="submit" value="送出">
				</form><br>
			
			<!--  萬用複合查詢-以下欄位-可隨意增減 -->    
			    <form method="post" th:action="@{listAdmins_ByCompositeQuery}"><br>
			        <font>多條件檢索:</font><br>
			        輸入管理員編號: 
			        <input type="text2" name="adminId" placeholder="請輸入管理員編號"><br>
			           
			        輸入管理員姓名: 
			        <input type="text2" name="adminName" placeholder="請輸入管理員姓名"><br>
			       
			        輸入管理員狀態: 
			        <input type="text2" name="adminAccStatus" placeholder="請輸入狀態0或1"><br>
			
			        <input type="submit" value="送出">
			     
			     </form><br>
	
      		<h2><span>管理員管理</span></h2>
 
			<button type="submit" onclick="window.location.href='/back_end/index'">回首頁</button>
			<button type="submit" onclick="window.location.href='addAdmin'">新增管理員</button>
			<button type="submit" onclick="window.location.href='/admin/listAllAdmin'">管理員列表</button>
	  	</table>
	  </article>
	 <article id="BGdog">
	  	<img id="BGdog" th:src="@{/images/admin/BGdog.png}"/>
	  </article>
	</div>
    
    <!-- 旗標getOne_For_Display見AdminnoController.java的第74行 -->
    <div class="b" th:if="${getOne_For_Display}">
        <!--使用listOneAdmin.html網頁的listOneAdmin-div片段--> <!-- 見listOneAdmin.html的第35行的th:fragment="listOneAdmin-div" --> <!-- 使用th:replace也可 -->
        <div th:insert="~{/back_end/admin/listOneAdmin :: listOneAdmin-div}"></div>

    </div>
    
    	<!--***************** footer (下方深色) 區域 *****************-->
	<footer>
	  <p>Copyright © 2024 ServPET 寵寵唯蹟 All Rights Reserved.</p>
	</footer>

</body>
</html>