@charset "UTF-8";
/****************** 全域設定 ******************/
/* 引入 Google Fonts 字型 */
@import
	url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap')
	;

html, body {
	font-weight: bold;
	width:100%;
	height: 100%;
	margin: 0;
	padding: 0; /* 將網頁padding歸0，以免留下邊框 */
}

body {
	font-family: 'Zen Maru Gothic', sans-serif; /* 設置整個頁面的字型 */
	background-color: #334252; /*設置整個頁面的背景色*/
}
.error{
	color:red;
	font-weight: normal;
}

/******************<< table#header (上方深色) 區域 >>******************/
table#header {
	background-color: #334252;
	text-align: center;
	width: 100%; /* 根據圖片和標題的寬度進行調整 */
	min-width: 500px; /* 最小寬度 */
	height: 100px; margin : 0;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0;
} 

/*header圖片 */
table#header img {
	width: 60px;
	height: 60px;
	border: 0;
	vertical-align: bottom; /* 將圖片垂直貼齊下方 */
}

/*header文字字體 */
table#header font {
	font-size: 50px; /* 字體大小 */
	color: #FFFAF4;/* 字體顏色 */
	border: 0;
	width: 60px;
	height: 60px;
	margin: 0;
	vertical-align: bottom; /* 將圖片垂直貼齊下方 */
}

table#header h1 {
	color: #FFFAF4;
	display: block;
	margin: 10px;
}

table#header h2 {
	color: #FFFAF4;
	display: block;
}

/**********登入者資料區***********/
img#headshot{
	 width: 80px;
    height: 80px;
    border-radius: 50%; 
    border: 5px solid #FFFAF4;
    box-shadow: 0 0 0 10px #334252, 0 4px 4px rgba(0, 0, 0, 0.8); /* 两层同心圆框框和阴影 */
}

div#role{
	color:#FFFAF4;
	font-size:22px;
	padding-right:125px;
	margin-top: 0px;
	margin-bottom: 5px;
	margin-right:0px; 
	text-align:right;
}

div#log{
	color:#334252;
	font-size:16px;
	padding-right:125px;
	margin-top: 0px;
	margin-bottom: -24px;
	margin-right:0px; 
	text-align:right;
}

div#name{
	color:#334252;
	font-size:16px;
	padding-right:165px;
	margin-top: 0px;
	margin-bottom: -80px;
	margin-right:0px; 
	text-align:right;
}

div#headshot{
	padding-right:20px;
	margin-top: -40px;
	margin-bottom: -40px;
	margin-right:0px; 
	text-align:right;
	background: #334252;
}
/********登入者資料區結束**********/

/***************** div#body (中間淺色) 區域 *****************/
div#body {
	color: #334252; /* 設置文字顏色為藍 */
	text-align: center; /* 文字左右置中 */
	width: 100%;
	height: auto;
	min-height: 500px;
	background: linear-gradient(to top, #FFE4CA, #FFEEDD, #FFFAF4);
	min-width: 500px; /* 固定寬度 */
}

div#body img {
	border: 2px solid #334252;
	text-align: center; /* 文字左右置中 */
	width: 100px;
	height: 100px;
}

div#body article {
	height: auto;
	min-height: 400px;
		padding: 20px;
}

div#body form {
	max-height: 100%;
}

div#body h2 {
	color: #334252;
	height:40px;
	text-align: center; /* 使文字置中 */
	font-size: 24px; /* 字體大小 */
	margin: 0px;
	padding-top: 40px; /* 去掉預設邊距 */
	padding-bottom: 10px;
}

div#body h4,div#body h5 {
	margin: 1px;
}

table#body {
	font-size: 16px;
	text-align: center;
	width: 100%;
	height: 200px; /* 自動高度以適應內容 */
	margin-left: auto; /* 左邊距自動 */
	margin-right: auto; /* 右邊距自動 */
	margin-top: auto;
	margin-bottom: auto;
	border-collapse: collapse;
}

table#body tbody {
	text-align: center;
	margin-left: auto; /* 左邊距自動 */
	margin-right: auto; /* 右邊距自動 */
}

/********** 各式按鈕設定 ***********/

div#body input[type="text"] { /* 文字輸入框 */
	width:220px;
	font-size: 16px;
	font-family: 'Zen Maru Gothic', sans-serif;
	padding: 1px 0px;
    border-width: 1px;
    border-style: inset;
    border-color: #334252;
    border-image: initial;
  	background-color: #FFFAF4;
  	margin-top: 5px;
  	margin-bottom: 5px;
  	padding: 5px 10px;
  	border-radius: 5px;
  	cursor: pointer;
}

div#body input[type="password"] { /* 文字輸入框 */
	width:220px;
	font-size: 16px;
	font-family: 'Zen Maru Gothic', sans-serif;
	padding: 1px 0px;
    border-width: 1px;
    border-style: inset;
    border-color: #334252;
    border-image: initial;
  	background-color: #FFFAF4;
  	margin-top: 5px;
  	margin-bottom: 5px;
  	padding: 5px 10px;
  	border-radius: 5px;
  	cursor: pointer;
}

div#body input[type="file"] { /* 上傳圖片的文字框 */
	width:220px;
	font-size: 16px;
	font-family: 'Zen Maru Gothic', sans-serif;
	padding: 1px 0px;
    border-width: 1px;
    border-style: inset;
    border-color: #334252;
    border-image: initial;
  	background-color: #FFFAF4;
  	margin-top: 5px;
  	margin-bottom: 5px;
  	padding: 5px 10px;
  	border-radius: 5px;
  	cursor: pointer;
}

div#body input[type="submit"] {
	font-family: 'Zen Maru Gothic', sans-serif;
	margin-top: 0px; /* 額外的上邊距 */
	margin-bottom: 10px; /* 額外的上邊距 */
	font-size: 20px; /* 放大字型 */
	padding: 10px 20px; /* 設定內邊距，上下10px，左右20px */
	background-color: #334252; /* 背景顏色 */
	color: #F0F8FF; /* 字體顏色 */
	border: none; /* 去掉邊框 */
	border-radius: 5px; /* 圓角邊框 */
	cursor: pointer; /* 鼠標懸停時顯示為指針 */
}

div#body input[type="submit"]:hover {
	background-color: #778899; /* 懸停時的背景顏色 */
	transform: scale(1.05); /* 按鈕輕微放大 */
}

div#body input[type="submit"]:active {
	background-color: #778899; /* 按下時的背景顏色 */
	transform: scale(1.02); /* 按下時按鈕縮小 */
}

div#body button[type="submit"] {
	font-family: 'Zen Maru Gothic', sans-serif;
	margin-top: 0px; /* 額外的上邊距 */
	margin-bottom: 10px; /* 額外的上邊距 */
	font-size: 20px; /* 放大字型 */
	padding: 10px 20px; /* 設定內邊距，上下10px，左右20px */
	background-color: #334252; /* 背景顏色 */
	color: #F0F8FF; /* 字體顏色 */
	border: none; /* 去掉邊框 */
	border-radius: 5px; /* 圓角邊框 */
	cursor: pointer; /* 鼠標懸停時顯示為指針 */
}

div#body button[type="submit"]:hover {
	background-color: #778899; /* 懸停時的背景顏色 */
	transform: scale(1.05); /* 按鈕輕微放大 */
}

div#body button[type="submit"]:active {
	background-color: #778899; /* 按下時的背景顏色 */
	transform: scale(1.02); /* 按下時按鈕縮小 */
}
/********** 各式按鈕設定結束 ***********/

/***************** footer (下方深色) 區域 *****************/
footer {
	background-color: #334252;
	text-align: center;
	width: 100%; /* 根據圖片和標題的寬度進行調整 */
	min-width: 500px; /* 最小寬度 */
	height: 80px;
	padding-top: 20px;
}

footer p {
	font-size: 16px; /* 字體大小 */
	font-weight: normal;
	color: #FFE4CA; /* 字體顏色 */
	border: 0;
	vertical-align: middle; /* 將圖片垂直置中 */
}