	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登入</title>
<link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>

<!--*************** table#header (上方深色) 區域 **************-->


				<table id="header">
						  <tr>
						   <td>
						  <img th:src="@{/images/admin/pflogow.png}">
						    <font>後台登入</font>
						  <img th:src="@{/images/admin/pflogow.png}">
						 <td>
						<tr>
				</table>

<!--**************** div#body (中間淺色) 區域 *****************-->				
		<div id ="body">
				 <article id="body">
				 
				 	<!--====== 錯誤訊息區域 ========-->	
					<div th:if="${errorMessage}">
					    <p style="color: red;" th:text="${errorMessage}"></p>
					</div>
		
				    <div class="container" style="margin-top: 50px;">
				        <h2>登入</h2>
				        <!-- 使用Thymeleaf來綁定登入表單 -->
				       <form action="#" th:action="@{/back_end/adminLogin}" th:object="${adminVO}" method="post">
				            <div class="form-group">
				                <label for="adminAcc">帳號</label>
				                <input type="text" class="form-control" id="adminAcc" name="adminAcc" placeholder="請輸入您的帳號" required />
				            </div>
				            <div class="form-group">
				                <label for="adminPwd">密碼</label>
				                <input type="password" class="form-control" id="adminPwd" name="adminPwd" placeholder="請輸入您的密碼" required />
				            </div>
				            <br><br>
				            <button type="submit" class="btn btn-primary">登入</button>
				        </form>
		   	 		</div>
		   	 		
		   	 		 <div class="container" style="margin-top: 50px;">
				        <h2>美容師登入</h2>
				       <form action="#" th:action="@{/back_end/pgLogin}" th:object="${pgVO}" method="post">
				            <div class="form-group">
				                <label for="pgId">帳號</label>
				                <input type="text" class="form-control" id="pgId" name="pgId" placeholder="請輸入您的帳號" required />
				            </div>
				            <div class="form-group">
				                <label for="pgPw">密碼</label>
				                <input type="password" class="form-control" id="pgPw" name="pgPw" placeholder="請輸入您的密碼" required />
				            </div>
				            <br><br>
				            <button type="submit" class="btn btn-primary">登入</button>
				        </form>
		   	 		</div> 
		   	 		
		   	 		<div class="container" style="margin-top: 50px;">
				        <h2>保母登入</h2>
				       <form action="#" th:action="@{/back_end/psLogin}" th:object="${psVO}" method="post">
				            <div class="form-group">
				                <label for="psId">信箱</label>
				                <input type="text" class="form-control" id="psId" name="psId" placeholder="請輸入您的帳號" required />
				            </div>
				            <div class="form-group">
				                <label for="psPw">密碼</label>
				                <input type="password" class="form-control" id="psPw" name="psPw" placeholder="請輸入您的密碼" required />
				            </div>
				            <br><br>
				            <button type="submit" class="btn btn-primary">登入</button>
				        </form>
		   	 		</div>
		 
		</article>
	</div>
	
	<!--***************** footer (下方深色) 區域 *****************-->
<footer>
      <p>Copyright © 2024 ServPET 寵寵唯蹟 All Rights Reserved.</p>
</footer>
	
	
</body>
</html>
